<div class="container">
    <h3>Carrito de compras</h3>
</div>
<div class="listacarrito">
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listaCarrito$|async">
                <td>{{product.nombre}}</td>
                <td>{{product.tipo}}</td>
                <td>{{product.precio}}</td>
                <td>{{product.cantidad}}</td> 
            </tr>

        </tbody>
     </table>
</div>

<button type="button" class="btn btn-success">Checkout</button>