
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="products.imagen" alt="products.nombre"></td>
            <td>{{products.nombre}}</td>
            <td>{{products.tipo}}</td>
            <td>{{products.precio}}</td>
            <td>{{products.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="products2.imagen" alt="products2.nombre"></td>
            <td>{{products2.nombre}}</td>
            <td>{{products2.tipo}}</td>
            <td>{{products2.precio}}</td>
            <td>{{products2.stock}}</td>
        </tr>
        <tr>
            <td><img [src]="products3.imagen" alt="products3.nombre"></td>
            <td>{{products3.nombre}}</td>
            <td>{{products3.tipo}}</td>
            <td>{{products3.precio}}</td>
            <td>{{products3.stock}}</td>
        </tr>
    </tbody>
</table>