.liquidacion{
    border:2px rgb(52, 219, 52);
    background:rgb(190, 253, 190);
}

.container{
    margin-top: 5%;
}

img{
    margin:5%;
    width:150px;
    height:150px;
}

h3{
    text-align: center;
    margin-bottom: 5%;
}

